.list {
    padding: 0;
    margin: 0;
}

.listItem {
    padding: 0;
    margin: 0;
}

.listItem a {
    text-decoration: none;
    color: #000;
}

.footer {
    background: #fff;
    padding: 2rem 4rem;
    color: #000;
    width: 100%;
}
