.wrapper {
    background-color: var(--ifm-background-color);
    z-index: 1;
}

.footer {
    font-family: Styrene B Web, sans-serif;
    border-top: 1px solid var(--ifm-font-color-base);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.unleash {
    gap: 20px;
    padding-top: var(--ifm-footer-padding-vertical);
    padding-left: var(--ifm-spacing-horizontal);
}

.social {
    display: flex;
    gap: 20px;
    padding-top: var(--ifm-footer-padding-vertical);
    padding-right: var(--ifm-spacing-horizontal);
}

.social svg {
    color: #93a1a5;
}

@media screen and (min-width: 768px) {
    .footer {
        flex-wrap: nowrap;
    }

    .unleash {
        display: flex;
    }
}

.copyright {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    border-top: 1px solid var(--ifm-font-color-base);
}

.copyright p {
    margin-bottom: 0;
}
