{
    "extends": [
        "spt",
        "spt/env-node",
        "spt/env-es6-false"
    ],
    "env": {
        "browser": true
    },
    "globals": {
        "it": false,
        "beforeEach": false,
        "describe": false
    },
    "rules": {
        "quotes": 0,
        "vars-on-top": 0,
        "max-nested-callbacks": 0
    }
}