Your personal API tokens are about to expire

Hi {{{ recipientName }}},

The following personal API tokens are about to expire:
{{#tokens}}
- {{#tokenDescription}}{{{ tokenDescription }}}{{/tokenDescription}}{{^tokenDescription}}Token without description{{/tokenDescription}} expires in {{ daysUntilExpiry }} {{ dayWord }}
{{/tokens}}

Anything that authenticates with these tokens will stop working when they expire. Create replacement tokens and update your integrations before then.

Manage tokens in Unleash: {{{ tokensUrl }}}
