Your personal API token is about to expire

Hi {{{ recipientName }}},

Your personal API token{{#tokenDescription}} {{{ tokenDescription }}}{{/tokenDescription}} will expire in {{ daysUntilExpiry }} {{ dayWord }}.

Anything that authenticates with this token will stop working when it expires. Create a replacement token and update your integrations before then.

Manage tokens in Unleash: {{{ tokensUrl }}}
