.content {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
}

.content > * {
    flex: 1;
}

.content > .video {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}
