{
    "extends": [
        "finn",
        "finn/node",
        "finn-prettier"
    ],
    "rules": {
        "no-shadow": 0,
        "prettier/prettier": [
            2,
            {
                "tabWidth": 4,
                "singleQuote": true,
                "trailingComma": "es5",
                "printWidth": 120
            }
        ]
    }
}
