@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/mixins";
@import "~react-toolbox/lib/commons";

$color-primary:$palette-blue-400;
$color-primary-dark: $palette-blue-700;

$navigation-drawer-desktop-width: 4 * $standard-increment-desktop !default;
$navigation-drawer-max-desktop-width: 70 * $unit !default;

// Mobile:
// Width = Screen width − 56 dp
// Maximum width: 320dp
$navigation-drawer-mobile-width: 5 * $standard-increment-mobile !default;

// sass doesn't like use of variable here: calc(100% - $standard-increment-mobile);
$navigation-drawer-max-mobile-width: calc(100% - 5.6rem) !default;

.appBar {
    .leftIcon {
        transition-timing-function: $animation-curve-default;
        transition-duration: $animation-duration;
        transition-property: width, min-width;
    }
    @media screen and (min-width: $layout-breakpoint-sm) {
        .leftIcon {
            display: none;
        }
    }
}