*
!src
!package.json
!yarn.lock
!scripts
!tsconfig.json
!docs
!CHANGELOG.md
!LICENSE
!README.md
!frontend
frontend/node_modules
!.yarn/**
!.yarnrc.yml
!frontend/.yarn/**
node_modules
!docker/index.js
