{
    "env": {
        "node": true
    },
    "extends": [
        "airbnb-base",
        "prettier"

    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2019
    },
    "plugins": ["prettier","@typescript-eslint"],
    "root": true,
    "rules": {
        "@typescript-eslint/no-var-requires": 0,
        "import/no-unresolved": 0,
        "class-methods-use-this": [0],
        "prettier/prettier": ["error"],
        "func-names": "off",
        "strict": [0, "global"],
        "no-underscore-dangle": "off",
        "no-plusplus": "off",
        "no-param-reassign": "error",
        "no-return-await": "error",
        "max-nested-callbacks": "off",
        "new-cap": [
            "error",
            {
                "capIsNewExceptions": [
                    "Router",
                    "Mitm"
                ]
            }
        ]
    },
    "overrides": [
        {
            // enable the rule specifically for TypeScript files
            "files": ["*.ts", "*.tsx"],
            "rules": {
                "@typescript-eslint/explicit-module-boundary-types": ["error"]
            }
        }
    ],
    "ignorePatterns": ["**/docs/api/oas/"]
}
