/* Unleash academy content */

/* breakpoints:
   show wide: >=1247
   show narrow: 997-1246
   show wide: 711-996
   show narrow: <=710
*/

/* shared academy styles */

.unleash-academy-level-badge {
    border: 2px solid;
    border-radius: 60px;
    padding-inline: 0.5em;
    text-transform: capitalize;
}

html[data-theme="light"] .unleash-academy-level-badge {
    border-color: var(--unleash-logo-purple);
    color: var(--unleash-logo-purple);
}

html[data-theme="dark"] .unleash-academy-level-badge {
    border-color: var(--ifm-link-color);
    color: var(--ifm-link-color);
}

.unleash-academy-level-container.advanced {
    background-image: url("/img/unleash-academy/advanced-pixels.svg");
}

.unleash-academy-level-container.beginners {
    background-image: url("/img/unleash-academy/beginner-pixels.svg");
}

.unleash-academy-banner {
    --banner-padding: calc(var(--ifm-spacing-vertical) * 3);
    --unleash-academy-logo-width: 85px;
    --banner-padding: calc(var(--ifm-spacing-vertical) * 3);
    --banner-font-color: #000;
    --button-color: var(--unleash-logo-purple);

    margin-block-start: var(--ifm-spacing-vertical);
    margin-block-end: var(--ifm-spacing-vertical);
    position: relative;
    border: var(--ifm-global-border-width) solid var(--ifm-color-emphasis-200);
    padding: var(--banner-padding);
    border-radius: var(--ifm-global-radius);
    background-color: #f1f0fc;
    background-image: url("/img/unleash-academy/banner-bg-pixels.svg");
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;
    color: var(--banner-font-color);
}

html[data-theme="dark"] .course-banner-container {
    background-color: inherit;
    color: inherit;
}

.academy-banner-main-text {
    font-weight: normal;
    font-size: 1.4em;
}

.unleash-academy-banner-list {
    grid-area: bullets;
    display: flex;
    flex-flow: column;
    gap: calc(var(--ifm-spacing-horizontal) * 0.75);
    padding-inline-start: 0;
}

.unleash-academy-banner-list > li {
    font-weight: bold;
    list-style-type: none;
    background-image: url("/img/unleash-academy/bullet-check.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}

.unleash-academy-banner-list > li::marker {
    height: 100%;
}

.unleash-academy-banner-list > li + li {
    margin-block-start: 0;
}

.unleash-academy-banner-list {
    margin-block-end: 0;
}

@media (min-width: 711px) and (max-width: 996px), (min-width: 1247px) {
    .unleash-academy-banner-list {
        flex-flow: row;
    }
}

.unleash-action-button {
    --button-color: #6c65e5;
    --button-hover-color: #615bc2;
    display: block;
    border-radius: var(--ifm-global-radius);
    width: 100%;
    background: var(--button-color);
    color: white;
    text-align: center;
    padding: calc(var(--ifm-spacing-horizontal) * 0.5);
}

.unleash-action-button:hover {
    background: var(--button-hover-color);
    color: white;
    text-decoration: none;
}

/* Layout wrapper for stacked action buttons on academy cards */
.unleash-academy-buttons {
    display: flex;
    flex-direction: column;
    /* Use a smaller vertical gap between buttons */
    gap: calc(var(--ifm-spacing-vertical) * 0.25);
}

/* Fallback spacer if markup includes an explicit spacing element */
.unleash-academy-buttons .button-spacing {
    height: calc(var(--ifm-spacing-vertical) * 0.5);
}

/* "Get certified" button variant: gray background, purple text and border */
.unleash-academy-buttons .get-certified {
    background: var(--ifm-color-emphasis-100);
    color: var(--unleash-logo-purple);
    border: 2px solid var(--unleash-logo-purple);
}

.unleash-academy-buttons .get-certified:hover {
    background: var(--ifm-color-emphasis-200);
    color: var(--unleash-logo-purple);
    text-decoration: none;
}

/* begin certification links */
.unleash-academy-links-container {
    margin-block-start: var(--ifm-spacing-vertical);
    margin-block-end: var(--ifm-spacing-vertical);
    --button-background-color: var(--color-purple);
    --border-color: var(--ifm-color);
}

.unleash-academy-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: var(--ifm-spacing-vertical);
}

.unleash-academy-links-container li:has(article) {
    margin: 0;
    padding: 0;
}

.unleash-academy-links-container article {
    border-radius: var(--ifm-global-radius);
    border: var(--ifm-global-border-width) solid var(--ifm-color-emphasis-200);
    padding: calc(var(--ifm-spacing-vertical) * 2);
    display: grid;
    grid-template-rows: min-content auto min-content;
    background-position: top right;
    background-repeat: no-repeat;
    height: 100%;
}

.unleash-academy-links-container article .header > * + * {
    margin-block-start: calc(var(--ifm-spacing-vertical) * 0.5);
}

.unleash-academy-links-container article p {
    font-size: var(--unleash-font-size-smaller);
}

@media (min-width: 711px) and (max-width: 996px), (min-width: 1247px) {
    .unleash-academy-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .unleash-academy-links-container article {
        height: 100%;
    }
}

/* End of certification links styles */

/* Specific styles for the main Unleash academy banner */
.academy-general-banner-content {
    display: grid;
    grid-template-areas: "header logo" "bullets bullets" "button button";
    grid-template-columns: auto var(--unleash-academy-logo-width);
    gap: var(--ifm-spacing-horizontal);
}

.academy-general-banner-content .unleash-action-button {
    grid-area: button;
}

.academy-general-banner .academy-banner-main-text {
    grid-area: header;
}

.academy-general-banner .small-logo {
    grid-area: logo;
    background-image: url("/img/unleash-academy/academy-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    aspect-ratio: 1;
    background-size: contain;
}

@media (min-width: 711px) and (max-width: 996px), (min-width: 1247px) {
    .academy-general-banner-content {
        grid-template-areas: "header logo" "bullets logo" "button logo";
        grid-template-columns: 420px auto;
        padding-right: 240px;
    }

    .academy-general-banner-content .unleash-action-button {
        width: 240px;
    }

    .academy-general-banner .small-logo {
        display: none;
    }

    .academy-general-banner .big-logo {
        position: absolute;
        background-image: url("/img/unleash-academy/academy-logo.svg");
        bottom: -20px;
        right: 20px;
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

/* end banner */

/* course banner-specific styling */
.course-banner-container.beginners {
    background-size: 108px;
}

.course-banner-container.advanced {
    background-size: 108px;
}

.course-banner-container > * + * {
    margin-block-start: var(--ifm-spacing-vertical);
    margin-block-end: 0;
}

.unleash-academy-level-badge {
    border: 2px solid;
    border-radius: 60px;
    padding-inline: 0.5em;
    text-transform: capitalize;
}

html[data-theme="light"] .unleash-academy-level-badge {
    border-color: var(--unleash-logo-purple);
    color: var(--unleash-logo-purple);
}

html[data-theme="dark"] .unleash-academy-level-badge {
    border-color: var(--ifm-link-color);
    color: var(--ifm-link-color);
}
