/* docusaurus-plugin-openapi-docs styling

Taken from
https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/blob/02922a6ad6d635373e01409dac8c17a88da2b72e/demo/src/css/custom.css#L45-L9

Based on this thread:
https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/issues/177

*/

/* Sidebar Method labels */
.api-method > .menu__link {
    align-items: center;
    justify-content: start;
}

.api-method > .menu__link::before {
    width: 50px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0.25rem;
    border: 1px solid;
    border-inline-start-width: 5px;
    margin-right: var(--ifm-spacing-horizontal);
    text-align: center;
    flex-shrink: 0;
}

.get > .menu__link::before {
    content: "get";
    background-color: var(--ifm-color-info-contrast-background);
    color: var(--ifm-color-info-contrast-foreground);
    border-color: var(--ifm-color-info-dark);
}

.post > .menu__link::before {
    content: "post";
    background-color: var(--ifm-color-success-contrast-background);
    color: var(--ifm-color-success-contrast-foreground);
    border-color: var(--ifm-color-success-dark);
}

.delete > .menu__link::before {
    content: "del";
    background-color: var(--ifm-color-danger-contrast-background);
    color: var(--ifm-color-danger-contrast-foreground);
    border-color: var(--ifm-color-danger-dark);
}

.put > .menu__link::before {
    content: "put";
    background-color: var(--ifm-color-warning-contrast-background);
    color: var(--ifm-color-warning-contrast-foreground);
    border-color: var(--ifm-color-warning-dark);
}

.patch > .menu__link::before {
    content: "patch";
    background-color: var(--ifm-color-success-contrast-background);
    color: var(--ifm-color-success-contrast-foreground);
    border-color: var(--ifm-color-success-dark);
}

.head > .menu__link::before {
    content: "head";
    background-color: var(--ifm-color-secondary-contrast-background);
    color: var(--ifm-color-secondary-contrast-foreground);
    border-color: var(--ifm-color-secondary-dark);
}

main .theme-api-markdown > .openapi-left-panel__container p > img {
    display: inline !important;
}
