/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("./academy.css");
@import url("./api-docs.css");

/* You can override the default Infima variables here. */
:root {
    --unleash-logo-purple: #635dc5;
    --unleash-color-purple: var(--unleash-logo-purple);
    --unleash-color-gray: #ecebeb;
    --unleash-color-green: #1a4049;
    --unleash-color-sub-background: #eaeaed;
    --unleash-color-table-of-contents-purple: #837bff;
    --ifm-font-family-base: "Sen", sans-serif;

    --ifm-code-font-size: 90%;
    --ifm-font-size-base: 15px;

    --unleash-font-size-smaller: 90%;
    --ifm-footer-logo-max-width: 250px;
    --ifm-footer-background-color: var(--ifm-background-color);

    /* navbar is independent of the theme in general */
    --ifm-navbar-background-color: var(--ifm-background-color);
}

html[data-theme="light"] {
    --ifm-color-primary-lightest: #8783d2;
    --ifm-color-primary-lighter: #7b76ce;
    --ifm-color-primary-light: #6f6ac9;
    --ifm-color-primary: var(--unleash-color-purple);
    --ifm-color-primary-dark: #5953be;
    --ifm-color-primary-darker: #4f4ab7;
    --ifm-color-primary-darkest: #4540b0;

    --ifm-menu-color-background-active: var(--unleash-color-gray);
    --ifm-menu-color-background-hover: var(--unleash-color-gray);

    --unleash-color-admonition-background: var(--unleash-color-gray);
    --unleash-color-admonition-border: #999;
    --unleash-color-admonition-text: #2b2b2b;

    --ifm-background-color: #fff;

    --ifm-font-color-base: #202021;
    --ifm-blockquote-color: var(--ifm-font-color-base);

    --unleash-color-main-header: #194049;
    --unleash-color-table-of-contents-header-background: #eef0f1;
    --unleash-color-table-of-contents-header-color: #244049;
    --unleash-color-navigation-background-active: #f4f3fd;
}

html[data-theme="dark"] {
    --ifm-color-primary-lightest: #d1d1ff;
    --ifm-color-primary-lighter: #c9c9ff;
    --ifm-color-primary-light: #c2c0ff;
    --ifm-color-primary: #bab8ff;
    --ifm-color-primary-dark: #a09de4;
    --ifm-color-primary-darker: #8582c9;
    --ifm-color-primary-darkest: #6b67ae;

    --unleash-color-purple: var(--ifm-color-primary);
    --unleash-color-gray: #333;
    --ifm-menu-color-background-active: var(--unleash-color-gray);
    --ifm-menu-color-background-hover: var(--unleash-color-gray);

    --ifm-link-color: var(--ifm-color-primary);

    --unleash-color-admonition-background: var(
        --ifm-color-secondary-contrast-background
    );

    --ifm-background-color: #222130;
    --unleash-color-sub-background: #1a1924;

    --docsearch-primary-color: var(--ifm-color-primary-darkest);

    --ifm-blockquote-color: var(--ifm-font-color-base);

    --unleash-color-main-header: var(--ifm-font-color-base);
    --unleash-color-table-of-contents-header-background: var(
        --ifm-breadcrumb-item-background-active
    );
    --unleash-color-table-of-contents-header-color: var(--ifm-font-color-base);
    --unleash-color-navigation-background-active: var(
        --ifm-breadcrumb-item-background-active
    );
}

/* navbar */

.navbar {
    color: var(--unleash-navbar-font-color);
    height: 3.75rem;
    background-color: #1a4049;
    color: var(--ifm-navbar-link-color);
}

.header-github-link {
    color: var(--ifm-navbar-link-color);
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
}

.header-demo-button {
    background-color: var(--ifm-color-primary);
    color: var(--ifm-color-primary-contrast-background);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin: 0.5rem;
}

.navbar .navbar__link--active:has(.hide-when-active) {
    display: none;
}

.navbar button[class*="toggleButton_"]:hover {
    background: var(--unleash-navbar-active-background-color);
}

.navbar-sidebar {
    background-color: var(--ifm-navbar-background-color);
    --ifm-menu-color: var(--ifm-navbar-link-color);
    --ifm-menu-color-active: var(--ifm-navbar-link-active-color);
    --ifm-menu-color-background-active: var(
        --unleash-navbar-active-background-color
    );
    --ifm-menu-color-active: var(--ifm-navbar-link-active-color);
    --ifm-menu-color-background-hover: var(
        --unleash-navbar-active-background-color
    );
}

@media (max-width: 1150px) {
    .navbar .hide-at-small-sizes {
        display: none;
    }
}

@media (min-width: 997px) {
    .show-when-collapsed {
        display: none;
    }
}

div[class^="announcementBar_"],
div[class^="announcementBar_"] svg {
    background-color: var(--ifm-color-primary);
    color: var(--ifm-color-primary-contrast-background);
    font-size: larger;
}

/* Main area */

main {
    position: relative;
    background-color: var(--unleash-color-sub-background);
    display: flex;
    justify-content: center;
}

main .container {
    background-color: var(--ifm-background-color);
    margin: 0;
    border-radius: 8px;
    padding: 3rem;
    z-index: 1;
}

@media (min-width: 997px) {
    main .container {
        margin: 3rem;
    }
}

main:after {
    background-image: url("/img/mountain-texture.png");
    position: fixed;
    display: block;
    z-index: 0;
    bottom: 0px;
    right: 0px;
    width: 350px;
    aspect-ratio: 652 / 905;
    background-size: cover;
    pointer-events: none;
    user-select: none;
    background-repeat: no-repeat;
    content: "";
}

@media (min-width: 997px) {
    .show-when-collapsed {
        display: none;
    }
}

main img {
    /* give images box shadows */
    box-shadow: var(--ifm-global-shadow-lw);
}

main
    p
    > img:not(
        [src^="https://img.shields.io/" i],
        [src*="badge.svg?branch=" i]
    ) {
    /* give inline images a border */
    border: var(--ifm-global-border-width) solid var(--unleash-color-gray);
}

main
    :is(p, figure)
    > img:not(
        [src^="https://img.shields.io/" i],
        [src*="badge.svg?branch=" i]
    ) {
    /* round corners to match the rest of the page */
    border-radius: var(--ifm-global-radius);

    /* center in-text images */
    display: block;
    margin: auto;
}

main .theme-doc-breadcrumbs {
    margin-bottom: 40px;
}

.markdown h1:first-child {
    color: var(--unleash-color-main-header);
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 40px;
}

.markdown > h2 {
    font-size: 20px;
    line-height: 28px;
    margin-top: 48px;
    margin-bottom: 16px;
}

.markdown > h2:first-child {
    margin-top: 0;
}

.markdown > p {
    font-size: 16px;
    line-height: 22px;
}

.table-of-contents:before {
    content: "Table of Contents";
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 2px;
    padding-left: 6px;
    font-size: 12px;
    line-height: 14px;
    background-color: var(--unleash-color-table-of-contents-header-background);
    color: var(--unleash-color-table-of-contents-header);
    text-transform: uppercase;
    border-left: 18px solid var(--unleash-color-table-of-contents-purple);
    margin-bottom: 8px;
}

.navbar-sidebar__back {
    /* hide the 'back to main menu' item in the narrow menu. */
    display: none;
}

.navbar__item:has(.navbar-separator) {
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    padding: 0;
    margin-inline: var(--ifm-spacing-horizontal);
}

.footer {
    z-index: 1;
}

@media (min-width: 997px) {
    aside.theme-doc-sidebar-container {
        border-right: none;
    }
}

.theme-doc-sidebar-container .menu {
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
}

.theme-doc-sidebar-menu .menu__link {
    border-radius: 4px;
}

.theme-doc-sidebar-menu .menu__link--active {
    background-color: var(--unleash-color-navigation-background-active);
    color: var(--ifm-menu-color);
    border-left: 4px solid #817afe;
}

.navbar--dark .theme-doc-sidebar-menu .menu__link--active,
.navbar--dark .menu__list-item-collapsible--active {
    background-color: #ffffff0d;
}

.menu__caret:before {
    background: var(--ifm-menu-link-sublist-icon) 50% / 20px 20px;
}

.menu__link--sublist-caret:after {
    background: var(--ifm-menu-link-sublist-icon) 50% / 20px 20px;
}

/* Video content container */

.unleash-video-container {
    display: flex;
    flex-flow: column;
    gap: var(--gap);
    margin-bottom: 1rem;
}

.unleash-video-container iframe {
    aspect-ratio: 16 / 9;
}

/* end video content container */

/* welcome page */

.docs-doc-id-welcome main .container {
    background-color: transparent;
}

@media (min-width: 997px) {
    .docs-doc-id-welcome main .container > .row > .col {
        max-width: 100% !important;
    }
}

.docs-doc-id-welcome main .theme-doc-breadcrumbs {
    display: none;
}

.docs-doc-id-welcome .markdown h1:first-child {
    color: #1e373f;
    font-size: 40px;
    line-height: 32px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 40px;
}

.docs-doc-id-welcome .markdown strong {
    color: #1a4049;
}

/* end welcome page */
