/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("./academy.css");
@import url("./api-docs.css");

/* You can override the default Infima variables here. */
:root {
    --unleash-logo-purple: #635dc5;
    --unleash-color-purple: var(--unleash-logo-purple);
    --unleash-color-gray: #ecebeb;
    --unleash-color-green: #1a4049;
    --unleash-color-sub-background: #eaeaed;
    --unleash-color-table-of-contents-purple: #837bff;
    --ifm-font-family-base: "Sen", sans-serif;

    --ifm-code-font-size: 90%;
    --ifm-font-size-base: 15px;

    --unleash-font-size-smaller: 90%;
    --ifm-footer-logo-max-width: 250px;
    --ifm-footer-background-color: var(--ifm-background-color);

    /* navbar is independent of the theme in general */
    --ifm-navbar-background-color: var(--ifm-background-color);
}

html[data-theme="light"] {
    --ifm-color-primary-lightest: #8783d2;
    --ifm-color-primary-lighter: #7b76ce;
    --ifm-color-primary-light: #6f6ac9;
    --ifm-color-primary: var(--unleash-color-purple);
    --ifm-color-primary-dark: #5953be;
    --ifm-color-primary-darker: #4f4ab7;
    --ifm-color-primary-darkest: #4540b0;

    --ifm-menu-color-background-active: var(--unleash-color-gray);
    --ifm-menu-color-background-hover: var(--unleash-color-gray);

    --unleash-color-admonition-background: var(--unleash-color-gray);
    --unleash-color-admonition-border: #999;
    --unleash-color-admonition-text: #2b2b2b;

    --ifm-background-color: #fff;

    --ifm-font-color-base: #202021;
    --ifm-blockquote-color: var(--ifm-font-color-base);

    --unleash-color-main-header: #194049;
    --unleash-color-table-of-contents-header-background: #eef0f1;
    --unleash-color-table-of-contents-header-color: #244049;
    --unleash-color-navigation-background-active: #f4f3fd;

    --unleash-color-welcome-title: #1e373f;
    --unleash-color-welcome-strong: var(--unleash-color-green);

    --unleash-color-welcome-card-hover: #f7f7fa;
    --unleash-logo: url("/img/unleash_logo_dark.svg");

    --docsearch-searchbox-background: var(--ifm-background-color);

    --unleash-color-header-separator: var(--unleash-color-green);

    --unleash-color-footer-icon: #657a80;
}

html[data-theme="dark"] {
    --ifm-color-primary-lightest: #d1d1ff;
    --ifm-color-primary-lighter: #c9c9ff;
    --ifm-color-primary-light: #c2c0ff;
    --ifm-color-primary: #bab8ff;
    --ifm-color-primary-dark: #a09de4;
    --ifm-color-primary-darker: #8582c9;
    --ifm-color-primary-darkest: #6b67ae;

    --unleash-color-purple: var(--ifm-color-primary);
    --unleash-color-gray: #333;
    --ifm-menu-color-background-active: var(--unleash-color-gray);
    --ifm-menu-color-background-hover: var(--unleash-color-gray);

    --ifm-link-color: var(--ifm-color-primary);

    --unleash-color-admonition-background: var(
        --ifm-color-secondary-contrast-background
    );

    --ifm-background-color: #222130;
    --unleash-color-sub-background: #1a1924;

    --docsearch-primary-color: var(--ifm-color-primary-darkest);

    --ifm-blockquote-color: var(--ifm-font-color-base);

    --unleash-color-main-header: var(--ifm-font-color-base);
    --unleash-color-table-of-contents-header-background: var(
        --ifm-breadcrumb-item-background-active
    );
    --unleash-color-table-of-contents-header-color: var(--ifm-font-color-base);
    --unleash-color-navigation-background-active: var(
        --ifm-breadcrumb-item-background-active
    );

    --unleash-color-welcome-title: var(--ifm-font-color-base);
    --unleash-color-welcome-strong: var(--ifm-font-color-base);
    --unleash-color-welcome-card-hover: #2b2a3c;
    --unleash-logo: url("/img/unleash_logo_white.svg");

    --unleash-color-header-separator: rgba(255, 255, 255, 0.3);

    --unleash-color-footer-icon: var(--ifm-font-color-base);
}

/* navbar */

.navbar {
    color: var(--unleash-navbar-font-color);
    height: 3.75rem;
    background-color: var(--unleash-color-green);
    color: var(--ifm-navbar-link-color);
}

.navbar__link {
    transition: all 0.2s ease-in-out;
}

.header-github-link {
    color: var(--ifm-navbar-link-color);
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
}

.header-github-link:hover {
    text-decoration: none;
}

.navbar-link-outlined {
    padding: 2px;
    padding-right: 6px;
    border: 1px solid var(--ifm-navbar-link-color);
    border-radius: 4px;
}

.header-github-link.navbar-link-outlined:hover {
    border: 1px solid var(--ifm-navbar-link-hover-color);
}

.navbar .theme-toggle:hover {
    color: var(--ifm-navbar-link-hover-color);
}

.navbar-link-solid {
    background: var(--ifm-navbar-link-color);
    padding: 10px;
    border-radius: 4px;
    color: var(--ifm-background-color);
}

.navbar-link-solid:hover {
    background: var(--ifm-navbar-link-hover-color);
    color: var(--ifm-background-color);
}

.navbar .navbar__link--active:has(.hide-when-active) {
    display: none;
}

.navbar button[class*="toggleButton_"]:hover {
    background: var(--unleash-navbar-active-background-color);
}

.navbar-sidebar {
    background-color: var(--ifm-navbar-background-color);
    --ifm-menu-color: var(--ifm-navbar-link-color);
    --ifm-menu-color-active: var(--ifm-navbar-link-active-color);
    --ifm-menu-color-background-active: var(
        --unleash-navbar-active-background-color
    );
    --ifm-menu-color-active: var(--ifm-navbar-link-active-color);
    --ifm-menu-color-background-hover: var(
        --unleash-navbar-active-background-color
    );
}

.navbar .show-at-small-sizes {
    display: none;
}

@media (max-width: 1150px) {
    .navbar .hide-at-small-sizes {
        display: none;
    }

    .navbar .show-at-small-sizes {
        display: inline-block;
    }
}

@media (min-width: 997px) {
    .show-when-collapsed {
        display: none;
    }
}

div[class^="announcementBar_"],
div[class^="announcementBar_"] svg {
    background-color: var(--ifm-color-primary);
    color: var(--ifm-color-primary-contrast-background);
    font-size: larger;
}

/* Main area */

main {
    position: relative;
    background-color: var(--unleash-color-sub-background);
    display: flex;
    justify-content: center;
}

main .container {
    background-color: var(--ifm-background-color);
    margin: 0;
    border-radius: 8px;
    padding: 3rem;
    z-index: 1;
}

@media (min-width: 997px) {
    main .container {
        margin: 3rem;
    }
}

html[data-theme="dark"] {
    main:after {
        opacity: 0.06;
    }
}

@media (min-width: 997px) {
    .show-when-collapsed {
        display: none;
    }
}

main img {
    /* give images box shadows */
    box-shadow: var(--ifm-global-shadow-lw);
}

.medium-zoom-image--opened {
    /* ensure images appear on top when zoomed in */
    z-index: 9999;
}

main
    p
    > img:not(
        [src^="https://img.shields.io/" i],
        [src*="badge.svg?branch=" i]
    ) {
    /* give inline images a border */
    border: var(--ifm-global-border-width) solid var(--unleash-color-gray);
}

main
    :is(p, figure)
    > img:not(
        [src^="https://img.shields.io/" i],
        [src*="badge.svg?branch=" i]
    ) {
    /* round corners to match the rest of the page */
    border-radius: var(--ifm-global-radius);

    /* center in-text images */
    display: block;
    margin: auto;
}

main .theme-doc-breadcrumbs {
    margin-bottom: 40px;
}

.markdown h1:first-child {
    color: var(--unleash-color-main-header);
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 40px;
}

.markdown > h2 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 48px;
    margin-bottom: 16px;
}

.markdown > h2:first-child {
    margin-top: 0;
}

.markdown > h3 {
    font-size: 20px;
}

.markdown > h4 {
    font-size: 16px;
}

.markdown > p {
    font-size: 16px;
    line-height: 22px;
}

.table-of-contents {
    margin-top: 70px;
}

.table-of-contents:before {
    content: "Table of Contents";
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 2px;
    padding-left: 6px;
    font-size: 12px;
    line-height: 14px;
    background-color: var(--unleash-color-table-of-contents-header-background);
    color: var(--unleash-color-table-of-contents-header);
    text-transform: uppercase;
    border-left: 18px solid var(--unleash-color-table-of-contents-purple);
    margin-bottom: 8px;
}

.navbar-sidebar__back {
    /* hide the 'back to main menu' item in the narrow menu. */
    display: none;
}

.navbar__item:has(.navbar-separator) {
    width: 1px;
    height: 80%;
    background: var(--unleash-color-header-separator);
    padding: 0;
    margin-inline: 8px;
}

.footer {
    display: flex;
    z-index: 1;
    font-size: 12px;
}

.footer-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer-content > .container {
    display: flex;
    justify-content: end;
    padding: 0;
    margin: 0;
}

.footer__links {
    gap: 16px;
    width: 100%;
    max-width: 1000px;
}

.footer-separator {
    height: 1px;
    background: #d9d9d9;
    margin-top: 30px;
    margin-bottom: 30px;
}

html[data-theme="dark"] .footer-separator {
    background: #333;
}

.footer-description {
    display: flex;
    align-items: start;
    gap: 16px;
    max-width: 500px;
    height: 100%;
}

.footer-description .footer__logo {
    width: 50px;
    margin-top: 0px;
}

.footer-description p {
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.footer-description > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.footer-description .link-icons {
    display: flex;
    gap: 16px;
}

.footer-description .link-icons img {
    max-width: unset;
    transition: opacity 0.2s;
}

.footer-description .link-icons img:hover {
    opacity: 0.8;
}

.footer__col {
    padding: 0;
}

.footer__title {
    font-size: 12px;
    margin-bottom: 4px;
}

.footer__item {
    margin-top: 10px;
}

.footer__link-item {
    line-height: 18px;
}

.footer__link-item > svg {
    display: none;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom-made-with-love {
    display: flex;
    align-items: center;
    gap: 4px;
}

.footer-show-large {
    display: block;
}

.footer-show-small {
    display: none;
}

@media (max-width: 1300px) {
    .footer-show-large {
        display: none;
    }

    .footer-show-small {
        display: block;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-content > .container {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    .footer-description > div {
        flex: unset;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .footer-description {
        flex-direction: column;
        align-items: center;
    }
}

.navbar {
    background-color: var(--unleash-color-sub-background);
    box-shadow: none;
}

.navbar > .navbar__inner {
    --ifm-navbar-link-color: var(--unleash-color-table-of-contents-header-color);
    color: var(--unleash-color-table-of-contents-header-color);
}

@media (min-width: 997px) {
    aside.theme-doc-sidebar-container {
        border-right: none;
        background: var(--ifm-background-color);
        z-index: 200;
        position: relative;
    }

    aside.theme-doc-sidebar-container > div > div {
        padding-top: 0;
    }

    aside.theme-doc-sidebar-container .menu {
        margin-top: 20px;
    }

    .sidebar-brand-logo {
        content: "";
        display: flex;
        width: 300px;
        height: 36px;
        margin-top: 10px;
        margin-left: 10px;
        background-image: var(--unleash-logo);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .navbar {
        padding-left: 314px;
        justify-content: center;
    }

    .navbar .navbar__brand {
        display: none;
    }

    .navbar .navbar__link {
        font-weight: 700;
    }

    .navbar > .navbar__inner {
        max-width: 1320px;
    }

    .docs-doc-id-welcome .navbar > .navbar__inner {
        max-width: 1230px;
    }
}

@media (min-width: 1150px) {
    .navbar > .navbar__inner {
        margin: 0 30px;
    }

    .navbar__items > .navbar__item:first-of-type,
    .navbar__items > .navbar__item:first-of-type > .navbar__item {
        padding-left: 0;
    }
}

@media (min-width: 1366px) {
    .DocSearch-Button {
        width: 250px;
    }
}

@media (min-width: 1150px) and (max-width: 1366px) {
    .DocSearch-Button {
        width: 36px;
    }
    .DocSearch-Button .DocSearch-Button-Keys,
    .DocSearch-Button .DocSearch-Button-Placeholder {
        display: none;
    }
}

.theme-doc-sidebar-container .menu {
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
}

.theme-doc-sidebar-menu .menu__link {
    border-radius: 4px;
}

.theme-doc-sidebar-menu .menu__link--active {
    background-color: var(--unleash-color-navigation-background-active);
    color: var(--ifm-menu-color);
    border-left: 4px solid #817afe;
}

.navbar--dark .theme-doc-sidebar-menu .menu__link--active,
.navbar--dark .menu__list-item-collapsible--active {
    background-color: #ffffff0d;
}

.menu__caret:before {
    background: var(--ifm-menu-link-sublist-icon) 50% / 20px 20px;
}

.menu__link--sublist-caret:after {
    background: var(--ifm-menu-link-sublist-icon) 50% / 20px 20px;
}

/* Video content container */

.unleash-video-container {
    display: flex;
    flex-flow: column;
    gap: var(--gap);
    margin-bottom: 1rem;
}

.unleash-video-container iframe {
    aspect-ratio: 16 / 9;
}

/* end video content container */

/* welcome page */

.docs-doc-id-welcome main .container {
    background-color: transparent;
}

@media (min-width: 997px) {
    .docs-doc-id-welcome main .container > .row > .col {
        max-width: 100% !important;
    }
}

.docs-doc-id-welcome main .theme-doc-breadcrumbs {
    display: none;
}

.docs-doc-id-welcome .markdown h1:first-child {
    color: var(--unleash-color-welcome-title);
    font-size: 40px;
    line-height: 32px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 40px;
}

.docs-doc-id-welcome .markdown strong {
    color: var(--unleash-color-welcome-strong);
}

/* end welcome page */

/* search results page */

.search-page-wrapper main {
    flex-direction: column;
    background-color: transparent;
}

/* end search results page */
