A service account token is about to expire

The token{{#tokenDescription}} {{{ tokenDescription }}}{{/tokenDescription}} of service account {{{ serviceAccountName }}} will expire in {{ daysUntilExpiry }} {{ dayWord }}.

Anything that authenticates with this token will stop working when it expires. Create a replacement token and update your integrations before then.

Manage service accounts in Unleash: {{{ tokensUrl }}}
