Service account tokens are about to expire

The following service account tokens are about to expire:
{{#tokens}}
- {{#tokenDescription}}{{{ tokenDescription }}}{{/tokenDescription}}{{^tokenDescription}}Token without description{{/tokenDescription}} of service account {{{ serviceAccountName }}} expires in {{ daysUntilExpiry }} {{ dayWord }}
{{/tokens}}

Anything that authenticates with these tokens will stop working when they expire. Create replacement tokens and update your integrations before then.

Manage service accounts in Unleash: {{{ tokensUrl }}}
