.toggle-active {
    border: 1px solid black;
    display: inline-block;
    background-color: lawngreen;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.toggle-inactive {
    border: 1px solid black;
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.no-border {
    border: none;
}

code {
    word-wrap: break-word;
    white-space: pre;
}

code > .diff-N {
    color: green;
}

code > .diff-D {
    color: red;
}

code > .diff-A, .diff-E {
    color: black;
}