.archiveList {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.54);
    align-items: center;
    padding: 0 16px 0 18px;
}

.listItemToggle {
    width: 40%;
    flex-shrink: 0;
    margin-right: 20%;
}
.listItemCreated {
    width: 10%;
    flex-shrink: 0;
    margin-right: 2px;
}
.listItemRevive {
    width: 5%;
    flex-shrink: 0;
    margin-right: 10%;
}
.toggleDetails {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.54);
    display: block;
    padding: 0;
}
.strategiesList {
    flex-shrink: 0;
    float: right;
    margin-left: 8px !important;
}
