.history {    
    code {
        word-wrap: break-word;
        white-space: pre;
        font-family: monospace;
        line-height: 100%;
        color: #0B8C8F
    }

    code > .diff-N {
        color: green;
    }

    code > .diff-D {
        color: red;
    }

    code > .diff-A, .diff-E {
        color: black;
    }

    .negative {
        color: red;
    }

    .positive {
        color: green;
    }

    .blue {
        color: blue;
    }


    dl {
        padding: 0em;
    }

    dt {
        float: left;
        clear: left;
        font-weight: bold;
    }

    dd {
        margin: 0 0 0 83px;
        padding: 0 0 0.5em 0;
    }
}

.history-item:nth-child(odd) {
    background-color: #efefef;
}

.history-item {
    padding: 5px;
}
