<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Your Unleash Productivity Report</title>
    <style>
        @media (prefers-color-scheme: dark) {
            .white-text {
                color: #fefefe !important;
            }
        }

		div { flex-grow:1; }
		u + .body .gmail-blend-screen { background:#000; mix-blend-mode:screen; }
		u + .body .gmail-blend-difference { background:#000; mix-blend-mode:difference; }
	</style>
</head>

<body style="font-family: Arial, sans-serif;background-color: #f9f9f9;color: #333;margin: 0;padding: 12px 0;font-size:16px">
    <div class="container"
        style="max-width: 600px;margin: 24px auto;background-color: #ffffff;border-radius: 8px;border: 1px solid #f0f0f5;overflow: hidden;">
        <div class="header" style="background-color: #6c65e5;padding: 20px;text-align: center;color: #ffffff;">
            <img src="cid:unleashLogo" alt="Unleash" width="210px" height="60px" style="margin-top: 8px;">
            <div class="white-text" style="font-size: 24px;margin: 20px 0;">Your Monthly Productivity Report</div>
        </div>
        <div class="content" style="padding: 20px;text-align: left;">
            <div class="intro" style="margin: 0 4px;">
                <p style="color: #222">Hi {{userName}},</p>
                <p style="color: #222">We are excited to share the latest insights for your instance. As always if you
                    have any questions or concerns let us know - we are here for you.</p>
                <p style="color: #222">Ready to dive into your numbers?</p>
            </div>
            <div class="big-number"
                style="font-size: 48px;line-height: 36px;font-weight: bold;color: #333;margin: 20px 0 0 0;text-align: center;">
                <div class="shaded"
                    style="margin: 0;padding: 36px 8px;background: #f0f0f5;border-width: 3px;border-color: #ffffff;border-style: solid;">
                    <div style="padding-top: 12px;">
                        <span style="color: #1a4049;">{{health}}%</span><br>
                        <span style="font-size: 16px; color: #888;">your instance health</span>
                    </div>
                </div>
            </div>
            <table class="content-table" style="width: 100%;border-collapse: collapse;border-width: 0;">
                <colgroup>
                    <col style="width: 50%;">
                    <col style="width: 50%;">
                </colgroup>
                <tr>
                    <td style="text-align: center;">
                        <div class="shaded"
                            style="margin: 0;padding: 42px 8px;background: #f0f0f5;border-width: 3px;border-color: #ffffff;border-style: solid;">
                            <span
                                style="font-size: 24px; font-weight: bold; color: #1a4049;">{{flagsCreated}}</span><br>
                            <span style="color: #888;display: block;height: 20px;">flags created last month</span>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="shaded"
                            style="margin: 0;padding: 42px 8px;background: #f0f0f5;border-width: 3px;border-color: #ffffff;border-style: solid;">
                            <span
                                style="font-size: 24px; font-weight: bold; color: #1a4049;">{{productionUpdates}}</span><br>
                            <span style="color: #888;display: block;height: 20px;">production updates last month</span>
                        </div>
                    </td>
                </tr>
            </table>
            <div style="text-align: center;">
                <a href="{{unleashUrl}}/insights" class="white-text"
                    style="color: #fefefe;text-decoration: none;display: inline-block;margin: 20px 0;padding: 12px 25px;background-color: #817afe;border-radius: 25px;font-weight: bold;"
                    rel="noopener" target="_blank">Go to your Insights</a>
            </div>
        </div>
        <div class="footer" style="text-align: center;margin-top: 20px;padding: 20px;background: #f0f0f5;">
            <div class="footer-links">

                <a href="https://getunleash.io"
                    style="color: #1a4049;margin: 0 10px;text-decoration: none;">getunleash.io</a> |
                <a href="https://github.com/unleash"
                    style="color: #1a4049;margin: 0 10px;text-decoration: none;">GitHub</a> |
                <a href="https://twitter.com/unleash"
                    style="color: #1a4049;margin: 0 10px;text-decoration: none;">Twitter</a>
            </div>
            <div class="unsubscribe" style="font-size: 12px;color: #888;margin-top: 10px;">
                This email was sent to {{userEmail}}. You’ve received this as you are a user of Unleash.<br>
                If you wish to unsubscribe, go to you profile settings <a href="{{unleashUrl}}/profile">here</a>.
            </div>
        </div>
    </div>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
		<tr>
			<td>
				<div style="background:#ff0; background-image:linear-gradient(#ff0,#ff0);">
					<div class="gmail-blend-screen">
						<div class="gmail-blend-difference">
							<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">A</p>
						</div>
					</div>
				</div>
			</td>
			<td>
				<div style="background:#0ff; background-image:linear-gradient(#0ff,#0ff);">
					<div class="gmail-blend-screen">
						<div class="gmail-blend-difference">
							<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">B</p>
						</div>
					</div>
				</div>
			</td>
			<td>
				<div style="background:#3f0; background-image:linear-gradient(#3f0,#3f0);">
					<div class="gmail-blend-screen">
						<div class="gmail-blend-difference">
							<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">C</p>
						</div>
					</div>
				</div>
			</td>
			<td>
				<div style="background:#f0f; background-image:linear-gradient(#f0f,#f0f);">
					<div class="gmail-blend-screen">
						<div class="gmail-blend-difference">
							<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">D</p>
						</div>
					</div>
				</div>
			</td>
			<td>
				<div style="background:#f00; background-image:linear-gradient(#f00,#f00);">
					<div class="gmail-blend-screen">
						<div class="gmail-blend-difference">
							<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">E</p>
						</div>
					</div>
				</div>
			</td>
			<td>
				<div style="background:#00f; background-image:linear-gradient(#00f,#00f);">
					<div class="gmail-blend-screen">
						<div class="gmail-blend-difference">
							<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">F</p>
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="background:#000; background-image:linear-gradient(#000,#000);">
					<div class="gmail-blend-screen">
						<div class="gmail-blend-difference">
							<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">1</p>
						</div>
					</div>
				</div>
			</td>
			<td>
				<div style="background:#444; background-image:linear-gradient(#444,#444);">
					<div class="gmail-blend-screen">
						<div class="gmail-blend-difference">
							<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">2</p>
						</div>
					</div>
				</div>
			</td>
			<td>
				<div style="background:#777; background-image:linear-gradient(#777,#777);">
					<div class="gmail-blend-screen">
						<div class="gmail-blend-difference">
							<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">3</p>
						</div>
					</div>
				</div>
			</td>
			<td>
				<div style="background:#aaa; background-image:linear-gradient(#aaa,#aaa);">
					<div class="gmail-blend-screen">
						<div class="gmail-blend-difference">
							<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">4</p>
						</div>
					</div>
				</div>
			</td>
			<td>
				<div style="background:#ddd; background-image:linear-gradient(#ddd,#ddd);">
					<div class="gmail-blend-screen">
						<div class="gmail-blend-difference">
							<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">5</p>
						</div>
					</div>
				</div>
			</td>
			<td>
				<div style="background:#fff; background-image:linear-gradient(#fff,#fff);">
					<div class="gmail-blend-screen">
						<div class="gmail-blend-difference">
							<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">6</p>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
		<tr>
			<td>
				<div style="background:#ff0;">
					<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">A</p>
				</div>
			</td>
			<td>
				<div style="background:#0ff;">
					<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">B</p>
				</div>
			</td>
			<td>
				<div style="background:#3f0;">
					<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">C</p>
				</div>
			</td>
			<td>
				<div style="background:#f0f;">
					<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">D</p>
				</div>
			</td>
			<td>
				<div style="background:#f00;">
					<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">E</p>
				</div>
			</td>
			<td>
				<div style="background:#00f;">
					<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">F</p>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="background:#000;">
					<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">1</p>
				</div>
			</td>
			<td>
				<div style="background:#444;">
					<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">2</p>
				</div>
			</td>
			<td>
				<div style="background:#777;">
					<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">3</p>
				</div>
			</td>
			<td>
				<div style="background:#aaa;">
					<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">4</p>
				</div>
			</td>
			<td>
				<div style="background:#ddd;">
					<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">5</p>
				</div>
			</td>
			<td>
				<div style="background:#fff;">
					<p style="margin:0; padding:1em; color:#fff; font:bold 2em/1.5 sans-serif; text-align:center;">6</p>
				</div>
			</td>
		</tr>
	</table>
</body>

</html>
