<!DOCTYPE html>
<html>
<head>
    <title>Your Unleash Productivity Report</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 600px;
            margin: 24px auto;
            background-color: #ffffff;
            border-radius: 8px;
            border: 1px solid #f0f0f5;
            overflow: hidden;
        }
        .header {
            background-color: #6c65e5;
            padding: 20px;
            text-align: center;
            color: #ffffff;
        }
        .header img {
            margin-top: 8px;
        }
        .header-title {
            font-size: 24px;
            margin: 20px 0;
        }
        .content {
            padding: 20px;
            text-align: left;
        }
        .intro {
            margin: 0 4px;
        }
        .big-number {
            font-size: 48px;
            line-height: 36px;
            font-weight: bold;
            color: #333;
            margin: 20px 0 0 0;
            text-align: center;
        }
        .shaded {
            margin: 0;
            padding: 36px 8px;
            background: #f0f0f5;
            border-width: 3px;
            border-color: #ffffff;
            border-style: solid;
        }
        .content-table {
            width: 100%;
            border-collapse: collapse;
            border-width: 0;
        }
        .content-table td {
            text-align: center;
        }
        .button {
            display: inline-block;
            margin: 20px 0;
            padding: 12px 25px;
            background-color: #817afe;
            color: #ffffff;
            text-decoration: none;
            border-radius: 25px;
            font-weight: bold;
        }
        .footer {
            text-align: center;
            margin-top: 20px;
            padding: 20px;
            background: #f0f0f5;
        }
        .footer-links a {
            margin: 0 10px;
            text-decoration: none;
            color: #333;
        }
        .unsubscribe {
            font-size: 12px;
            color: #888;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="cid:unleashLogo" alt="Unleash" width="210px" height="60px">
            <div class="header-title">Your Monthly Productivity Report</div>
        </div>
        <div class="content">
            <div class="intro">
                <p style="color: #222">Hi {{userName}},</p>
                <p style="color: #222">We are excited to share the latest insights for your instance. As always if you have any questions or concerns let us know - we are here for you.</p>
                <p style="color: #222">Ready to dive into your numbers?</p>
            </div>
            <div class="big-number">
                <div class="shaded">
                    <div style="padding-top: 12px;">
                        <span style="color: #1a4049;">{{health}}%</span><br>
                        <span style="font-size: 16px; color: #888;">your instance health</span>
                    </div>
                </div>
            </div>
            <table class="content-table">
                <colgroup>
                    <col style="width: 50%;">
                    <col style="width: 50%;">
                </colgroup>
                <tr>
                    <td>
                        <div class="shaded">
                            <span style="font-size: 24px; font-weight: bold; color: #1a4049;">{{flags_created}}</span><br>
                            <span style="color: #888;">flags created last month</span>
                        </div>
                    </td>
                    <td>
                        <div class="shaded">
                            <span style="font-size: 24px; font-weight: bold; color: #1a4049;">{{production_updates}}</span><br>
                            <span style="color: #888;">production updates last month</span>
                        </div>
                    </td>
                </tr>
            </table>
            <div style="text-align: center;">
                <a href="{{unleashUrl}}/insights" class="button" style="color:#fefefe; text-decoration:none;" rel="noopener" target="_blank">Go to your Insights</a>
            </div>
        </div>
        <div class="footer">
            <div class="footer-links">

                <a href="https://getunleash.io" style="color: #1a4049;">getunleash.io</a> |
                <a href="https://github.com/unleash" style="color: #1a4049;">GitHub</a> |
                <a href="https://twitter.com/unleash" style="color: #1a4049;">Twitter</a>
            </div>
            <div class="unsubscribe">
                This email was sent to {{userEmail}}. You’ve received this as you are a user of Unleash.<br>
                If you wish to unsubscribe from our newsletter, click <a href="https://example.com/unsubscribe">here</a>.
            </div>
        </div>
    </div>
</body>
</html>
