Subject: Unleash productivity report

Hello,

Productivity report
{{! FIXME: create plaintext template }}

{{#unsubscribeUrl}}
If you wish to unsubscribe from updated, open {{unsubscribeUrl}}.
{{/unsubscribeUrl}}
