Subject: Unleash Productivity Report

Hi {{userName}},

We are excited to share the latest insights for your instance. As always if you
have any questions or concerns let us know - we are here for you.

Your instance health: {{health}}

Flags created last month: {{flagsCreated}}

Production updates last month: {{productionUpdates}}

Go to your Insights to learn more: {{unleashUrl}}/insights

This email was sent to {{userEmail}}. You’ve received this as you are a user of Unleash.
If you wish to unsubscribe, go to you profile settings <a href="{{unleashUrl}}/profile">here</a>.
