Subject: Unleash Productivity Report

Hi {{userName}},

We are excited to share the latest insights for your instance. As always if you
have any questions or concerns let us know - we are here for you.

Your instance technical debt: {{technicalDebt}}%

Flags created last month: {{flagsCreated}}

Production updates last month: {{productionUpdates}}

You can deep-dive further into your numbers in Unleash.
View more insights: {{unleashUrl}}/insights

This email was sent to {{userEmail}}. You’ve received this as you are a user of Unleash.
If you wish to unsubscribe, go to you profile settings on {{unleashUrl}}/profile
