<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Unleash change request to review</title>
    <meta name="color-scheme" content="light">
    <meta name="supported-color-schemes" content="light">
</head>

<body style="font-family: Arial, sans-serif;background-color: #f9f9f9;color: #333;margin: 0;padding: 12px 0;font-size:16px">
    <div class="container"
        style="max-width: 600px;margin: 24px auto;background-color: #ffffff;border-radius: 8px;border: 1px solid #f0f0f5;overflow: hidden;">
        <div class="header" style="background-color: #6c65e5;padding: 20px;text-align: left;color: #ffffff;">
            <img src="https://cdn.getunleash.io/unleash_logo_600.png" alt="Unleash" width="210px" height="60px" style="margin-top: 23px;">
            <div style="font-size: 24px;margin: 20px 0 20px 4px;font-weight: bold;">New change request</div>
        </div>
        <div class="content" style="padding: 20px;text-align: left;">
            <div class="intro" style="margin: 0 4px;">
                <div style="font-size: 24px;margin: 20px 0;">You have been added to review change request {{{ changeRequestTitle }}} by {{{ requesterName }}} ({{{ requesterEmail }}})</div>
                <div style="font-size: 18px;">Click <a class="changeRequestLink" href="{{{ changeRequestLink }}}" target="_blank" rel="noopener noreferrer">{{{changeRequestLink}}}</a> to review it</div>
            </div>
        </div>
        <div class="footer" style="text-align: center;margin-top: 20px;padding: 20px;background: #f0f0f5;">
            <div class="footer-links">

                <a href="https://getunleash.io"
                    style="color: #1a4049;margin: 0 10px;text-decoration: none;">getunleash.io</a> |
                <a href="https://github.com/unleash"
                    style="color: #1a4049;margin: 0 10px;text-decoration: none;">GitHub</a> |
                <a href="https://twitter.com/unleash"
                    style="color: #1a4049;margin: 0 10px;text-decoration: none;">Twitter</a>
            </div>
        </div>
    </div>
</body>

</html>

