.user-feedback {
    width: 100%;
    position: absolute;
    background: var(--ifm-background-color);
    bottom: 0;
    border: var(--ifm-global-border-width) solid var(--unleash-color-gray);
    border-radius: var(--ifm-global-radius) var(--ifm-global-radius) 0 0;
    box-shadow: var(--ifm-global-shadow-lw);
    padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
    text-align: center;
    --outline-style: 2px solid var(--ifm-color-primary);
    --row-gap: 1rem;
    --element-horizontal-gap: 1rem;
}

.user-feedback > * + * {
    margin-top: var(--row-gap);
}

.user-feedback button {
    border: none;
    border-radius: var(--ifm-global-radius);
    padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
}

.user-feedback > form {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.user-feedback > form > * + * {
    margin-top: var(--row-gap);
}

.user-feedback * {
    outline-offset: 4px;
}

.user-feedback *:focus-visible {
    outline: var(--outline-style);
}

.satisfaction-input-container {
    display: flex;
    flex-flow: wrap;
    place-content: center;
    align-items: center;
    gap: var(--element-horizontal-gap);
}

.satisfaction-input-inputs {
    display: flex;
    flex-flow: wrap;
    place-content: center;
    align-items: center;
    gap: var(--element-horizontal-gap);
}

.satisfaction-input-visual-label {
    display: none;
}

@media screen and (min-width: 800px) {
    .satisfaction-input-visual-label {
        display: inline;
    }
}

@media screen and (max-width: 400px) {
    .satisfaction-input-inputs {
        gap: calc(var(--element-horizontal-gap) / 2);
    }
}

.user-satisfaction-score-label {
    display: grid;
    place-content: center;
    height: 3em;
    width: 3em;
    border: var(--ifm-global-border-width) solid currentColor;
    border-radius: 50%;
}

.user-satisfaction-score-input:focus-visible + .user-satisfaction-score-label {
    outline: var(--outline-style);
}

.user-satisfaction-score-label:hover {
    color: var(--ifm-color-primary);
}

.user-satisfaction-score-input:checked + label {
    color: var(--ifm-color-primary);
    background: var(--ifm-color-primary);
    color: var(--ifm-color-primary-contrast-background);
    border-color: var(--ifm-color-primary);
}

.button-container {
    margin-top: var(--row-gap);
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    gap: var(--element-horizontal-gap);
}

button.close-button {
    background: none;
    border: none;
    border-radius: 50%;
    padding: 0;
    aspect-ratio: 1;
    height: 1em;
    color: var(--ifm-font-color-base);
}

.close-button:hover {
    color: var(--ifm-color-primary);
}

.close-button:active {
    color: var(--ifm-color-primary-darker);
}

.close-button-row {
    display: flex;
    justify-content: end;
}

.close-button svg {
    fill: currentColor;
}

.primary-button,
.user-feedback button[type='submit'] {
    background-color: var(--ifm-color-primary);
    color: var(--ifm-background-color);
    padding-inline: calc(var(--ifm-spacing-horizontal) * 4);
}

.user-feedback button[type='submit']:hover {
    background-color: var(--ifm-color-primary-lighter);
}

.user-feedback button[type='submit']:active {
    background-color: var(--ifm-color-primary-dark);
}

.button-secondary {
    color: var(--ifm-color-primary);
    background: none;
}

.button-secondary:active {
    color: var(--ifm-color-primary-darker);
}

.button-secondary:hover {
    color: var(--ifm-color-primary-lightest);
}

.user-feedback textarea {
    display: block;
    width: 100%;
    background-color: var(--ifm-background-color);
    color: currentColor;
    border-radius: var(--ifm-global-radius);
    border: max(var(--ifm-global-border-width), 2px) solid
        var(--unleash-color-gray);
}

.customer-type-inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--ifm-spacing-horizontal);
    accent-color: var(--ifm-color-primary);
}

.open-feedback-button {
    opacity: 0.55;
    padding-top: var(--ifm-spacing-vertical);
    padding-bottom: calc(var(--ifm-spacing-vertical) * 2);
    border-radius: var(--ifm-global-radius) var(--ifm-global-radius) 0 0;
    border: none;
    position: absolute;
    right: calc(var(--ifm-spacing-vertical) * -1);
    bottom: 25vh;
    transform: rotate(270deg);
}
