Your scheduled change requests have been suspended

{{#canBeRescheduled}}
{{ conflict }}. Scheduled change requests that contain updates to this {{ conflictScope }} have been suspended to prevent accidentally overwriting important configuration. If you still wish to go ahead with the changes, please reschedule the relevant change requests. If you no longer want the changes, you can reject the change request(s) instead.
{{/canBeRescheduled}}
{{^canBeRescheduled}}
{{ conflict }}. Scheduled change requests that contain this {{ conflictScope }} have been suspended because they can't be applied anymore{{#flagArchived}} unless the flag is revived ({{ flagLink }}). If you revive the flag, you can then reschedule any relevant change requests and they will apply as normal. Otherwise, we{{/flagArchived}}{{^flagArchived}}. We{{/flagArchived}} recommend that you clean up by rejecting the affected change requests.
{{/canBeRescheduled}}

For you, this concerns these change requests:

{{#changeRequests}}
    - # {{id}} - {{#title}}- {{.}}{{/title}} (scheduled for {{scheduledAt}}) ({{link}})
{{/changeRequests}}

{{#conflictingChangeRequestLink}}
    Open Change request: {{conflictingChangeRequestLink}}
{{/conflictingChangeRequestLink}}
