<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Unleash - {{ name }}</title>
</head>
<body>
<header>
    Welcome to Unleash
</header>
<section>
    First step: Setup your password by visiting <a href="{{ passwordLink }}" title="Set Password link">{{ passwordLink }}</a>
    Second step: Visit your instance at {{ unleashUrl }}
</section>

<footer>
    &copy; {{ year }} - Unleash
</footer>
</body>
</html>
