Welcome to Unleash {{ name }}!

You have been invited to your organization's Unleash account - the new way of delivering software. 

{{# passwordLink }}

Below is your magic sign-in link. Just click the button and follow the steps provided to update your password and get started using Unleash.

Visit {{{ passwordLink }}} to get started.
{{/ passwordLink }}
{{^ passwordLink }}

Use the link below to access your Unleash instance:

{{{ unleashUrl }}}

{{/ passwordLink }}

By the way - did you know we have built Unleash on best practice when releasing new features. Our solution removes pressure from developers, allowing you to focus on delivering value through experimentation.
Looking forward to having a lot of fun together.

Useful resources: 

- https://docs.getunleash.io
- https://github.com/unleash
- https://docs.getunleash.io/sdks

Best 
Your Unleash team