Scheduled change request failed to apply

Scheduled change request {{{ changeRequestTitle }}} ({{{ changeRequestLink }}}) failed to apply at {{{ scheduledAt }}} due to {{{ errorMessage }}}.

You can reschedule the change request to try again later or reject the changes to close it.
