Subject: Order for additional environments submitted

Hello,

An order for additional environments has been successfully submitted by {{ userEmail }} for customer ID {{ customerId }}. Below are the details of the environments requested:

{{#environments}}
    - {{.}}
{{/environments}}

Please note that it may take up to 24 hours for these changes to come into effect.

Thank you for your attention.
