.action {
    color: #aaa !important;
    cursor: pointer;
}

.yes {
    color: green;
}

.no {
    color: red;
}

.link {
    color: #212121;
    text-decoration: none;
    font-weight: normal;
    display: block;
}

.link:hover {
    color: #000;
}

.iconListItemProgress {
    float: left;
    margin-right: 16px;
}

.iconListItemToggle {
    float: left;
    margin-right: 16px;
    width: 40px;
}

.iconListItemChip {
    margin-left: 5px !important;
}

.topList {
    display: flex;
    margin: 10px 10px 10px 10px;
}

.topListItem0 {
    flex: 1;
    flex-grow: 0;
}

.topListItem {
    flex: 1;
}

.topListItem2 {
    flex: 2;
}
