.path {
    stroke: currentColor;
    stroke-linecap: round;
    transition: stroke-dashoffset 5s ease 0s;
}

.trail {
    stroke: currentColor;
}

.text {
    fill: currentColor;
    font-size: 24px;
    line-height: 24px;
    dominant-baseline: middle;
    text-anchor: middle;
}
