{
    "env": {},
    "extends": [],
    "parser": "",
    "plugins": [],
    "rules": {},
    "settings": {},
    "parserOptions": {},
    "overrides": [
        {
            "files": "*.js"
        }
    ]
}
