.showUser img {
    border-radius: 25px;
    height: 32px;
    border: 2px solid #ffffff;
}

.showLocale img {
    border-radius: 2px;
    height: 20px;
    border: 2px solid #ffffff;
}
.showUserSettings {
    display: flex;
    align-items: center;
}
