.showUser img {
    border-radius: 25px;
    height: 32px;
    border: 2px solid #ffffff;
}

.showLocale img {
    border-radius: 2px;
    height: 30px;
    margin: 0 10px;
}

.showUserSettings {
    display: flex;
    align-items: center;
}
