Hello {{ name }}
Someone has requested a reset of your password.
If this was you, great, visit "{{ resetLink }}" to reset your password.
If this was not you, you might want to check your password still works.
