{
    "parser": "babel-eslint",
    "extends": [
        "finn",
        "finn-react",
        "finn/es-modules"
    ],
    "env": {
        "browser": true,
        "commonjs": true,
	    "es6": true
    },
    "globals": {
        "process": false
    },
    "parserOptions": {
        "ecmaVersion": 7,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "classes":true,
            "spread":true,
            "restParams": true
        }
    },
    "rules": {
        "no-shadow": 0,
        "react/sort-comp": 0
    }
}
