{
    "parser": "babel-eslint",
    "extends": [
        "finn",
        "finn-react",
        "finn/es-modules",
        "finn-prettier",
        "finn-prettier/react"
    ],
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "globals": {
        "process": false
    },
    "parserOptions": {
        "ecmaVersion": 7,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "no-shadow": 0,
        "react/sort-comp": 0,
        "prettier/prettier": [
            2,
            {
                "tabWidth": 4,
                "singleQuote": true,
                "trailingComma": "es5",
                "printWidth": 120
            }
        ]
    }
}
