.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.navigation {
    .active {
        background-color: #EEE;
    }
}

