.contributors {
    margin-block: var(--ifm-spacing-vertical);
}

.wrapper{
    display: flex;
}

.contributor {
    margin: 5px 10px 5px 0;
    display: flex;
    gap: 10px;

    figcaption{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}


@media (max-width: 600px) {
    .wrapper {
       display: block;
    }
}
