.contributors {
    margin-block: var(--ifm-spacing-vertical);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    li{
        list-style: none;
    }
}

.unleash{
    position: relative;
    display: block;
}

.unleash:before{
    display: block;
    position: absolute;
    z-index: 2;
    content: '';
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    background-image: url(/img/logo.svg);
}

.contributor {
    margin: 5px 10px 5px 0;
    display: flex;
    gap: 10px;

    img{
        border-radius: 100%;
        border: 2px solid var(--ifm-color-emphasis-300);
        transition: border-color var(--ifm-transition-fast) var(--ifm-transition-timing-default),
        scale var(--ifm-transition-fast) var(--ifm-transition-timing-default);

    }

    figcaption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

.contributor img:hover{
    border-color: var(--ifm-pagination-nav-color-hover);
    scale: 1.1;
}

@media (max-width: 600px) {
    .wrapper {
        display: block;
    }
}
