/* Figures (with captions) */
.main-wrapper figure {
    box-shadow: var(--ifm-global-shadow-lw);
    border-radius: var(--ifm-global-radius);
    border: var(--ifm-global-border-width) solid var(--unleash-color-gray);
    padding: var(--ifm-pre-padding);
    margin-inline: 0;
}

figure img {
    box-shadow: none;
    border: none;
}

figure * + * {
    margin-block-start: var(--ifm-pre-padding);
}

figcaption {
    font-size: var(--unleash-font-size-smaller);
    padding-inline: var(--ifm-pre-padding);
    border-inline-start: 5px solid var(--ifm-color-primary);
}
