.variantTable {
    width: 100%;
    max-width: 700px;

    th, td {
        text-align: center;
        width: 100px;
    }
    th:first-of-type, td:first-of-type {
        text-align: left;
        width: 100%;
    }
    tbody tr:hover {
        background-color: rgba(173, 216, 230, 0.2);
    }
}

@media (max-width: 600px) {
    th.labels  {
        display: none;
    }
    td.labels  {
        display: none;
    }
}

th.labels {
    text-align: right;
}

td.labels {
    text-align: right;
    vertical-align: top;
}

th.actions {
    text-align: right;
}

td.actions {
    text-align: right;
    vertical-align: top;
}

.modal {
    max-width: 90%;
    width: 600px;
    position: absolute !important;
}

@media (max-width: 600px) {
    .modal {
        top: 0 !important;
    }
}

.tooltip {
    i {
        font-size: 18px;
    }
}