name: PR -> Build Docs

on:
  pull_request:
    paths:
      - website/**

# If two events are triggered within a short time in the same PR, cancel the run of the oldest event
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  validate:
    name: build # temporary solution to trick branch protection rules
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build docs
        env:
          UNLEASH_FEEDBACK_TARGET_URL: ${{ secrets.DOCS_FEEDBACK_TARGET_URL }}
          UNLEASH_PROXY_CLIENT_KEY: ${{ secrets.UNLEASH_PROXY_CLIENT_KEY_DEVELOPMENT }}
          UNLEASH_PROXY_URL: ${{ secrets.UNLEASH_PROXY_URL_DEVELOPMENT }}
        run: |
          # Build the site
          cd website && yarn
          # give better error messages when the build fails (refer to website/readme.md#troubleshooting)
          echo "Removing references to chalk in node_modules/@docusaurus/core/lib/client/serverEntry.js"
          sed -i 's/chalk\(\w\|\.\)\+//g' node_modules/@docusaurus/core/lib/client/serverEntry.js
          echo "Chalk removed"
          yarn build
