name: PR -> Frontend Build & Test

on:
  workflow_dispatch:
  pull_request:
    paths:
      - frontend/**
      - .github/workflows/**frontend**

jobs:
  build:
    runs-on: ubuntu-latest
    name: build
    defaults:
      run:
        working-directory: frontend

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
      - name: Enable corepack
        run: corepack enable
      - run: yarn --immutable
      - run: yarn run lint:material:icons
      - run: yarn run lint:check
      - run: yarn run test
      - run: yarn run ts:check # TODO: optimize
