name: PR -> Frontend Build & Test

on:
  pull_request:
    paths:
      - frontend/**

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn run lint:material:icons
      - run: yarn --frozen-lockfile
      - run: yarn run lint:check
      - run: yarn run test
      - run: yarn run ts:check # TODO: optimize
