name: Publish main branch to dockerhub

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [14-alpine, 16-alpine]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup QEmu so we can build multiplatform
        uses: docker/setup-qemu-action@v2
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v2
      - name: Docker meta configuration
        uses: docker/metadata-action@v4
        id: meta
        with:
          images: |
            unleashorg/unleash-server
          tags: |
            type=edge,prefix=main-,suffix=-${{ matrix.version }}
      - name: Login to docker hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build tag and push image to Docker hub
        uses: docker/build-push-action@v3
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: NODE_VERSION=${{ matrix.version }}
