name: e2e:frontend
on:
  pull_request:
    # paths:
    #   - 'frontend/**'
jobs:
  e2e:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test:
          - feature/feature.spec.ts
          - groups/groups.spec.ts
          - projects/access.spec.ts
          - segments/segments.spec.ts
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo "$GITHUB_CONTEXT"
      - name: Checkout
        uses: actions/checkout@v4
      - name: Start Unleash test instance
        run: |
          curl https://app.unleash-hosted.com/docker-login/token/${{ secrets.ECR_ENTERPRISE_TOKEN }} | docker login --username AWS --password-stdin 726824350591.dkr.ecr.eu-central-1.amazonaws.com
          docker compose -f .github/docker-compose.test.yml up -d --wait -t 90
        env:
          FRONTEND_TEST_LICENSE: ${{ secrets.FRONTEND_TEST_LICENSE }}
      - name: Run Cypress
        uses: cypress-io/github-action@v6
        with:
          working-directory: frontend
          env: AUTH_USER=admin,AUTH_PASSWORD=unleash4all
          config: baseUrl=http://localhost:4242
          spec: cypress/integration/${{ matrix.test }}
          install-command: yarn --immutable
