name: e2e:frontend
on:
  pull_request:
    # paths:
    #   - 'frontend/**'
# If two events are triggered within a short time in the same PR, cancel the run of the oldest event
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  e2e:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test:
          - feature/feature.spec.ts
          - groups/groups.spec.ts
          - projects/access.spec.ts
          - segments/segments.spec.ts
          # - login/login.spec.ts
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo "$GITHUB_CONTEXT"
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build static frontend
        run: |
          cd frontend
          yarn install --immutable
          yarn build
      - name: Start Unleash test instance
        run: |
          docker compose -f .github/docker-compose.test.yml up -d --wait -t 90
        env:
          FRONTEND_TEST_LICENSE: ${{ secrets.FRONTEND_TEST_LICENSE }}
      - name: Run Cypress
        uses: cypress-io/github-action@v6
        with:
          working-directory: frontend
          env: AUTH_USER=admin,AUTH_PASSWORD=unleash4all
          config: baseUrl=http://localhost:3000
          spec: cypress/integration/${{ matrix.test }}
          install-command: yarn --immutable
