name: Generate documentation

on:
  push:
    branches:
      - master
    paths:
      - websitev2/**

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: setup git config
      run: |
        git config --global user.name "${GH_NAME}"
        git config --global user.email "${GH_EMAIL}"
        echo "machine github.com login ${GH_NAME} password ${GH_TOKEN}" > ~/.netrc
        # Stage the file, commit and push
        cd websitev2 && yarn && GIT_USER="ivarconr" yarn deploy
      env:
        GH_NAME: 'ivarconr'
        GH_EMAIL: 'ivarconr@gmail.com'
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
        DEPLOYMENT_BRANCH: 'master'
