name: Run npm version and push tags

on:
  workflow_dispatch:
    inputs:
      version: 
        description: What version would you like to use?

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: npm version
        run: |
          npm version $(inputs.version)
