name: 'Publish to npm'
on:
  workflow_dispatch:
    inputs:
      version:
        description: "Which version number should we use for the release"
        type: 'string'
        required: true
  workflow_call:
    inputs:
      version:
        description: "Which version number should we use for the release"
        type: 'string'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: v${{ inputs.version }} # tag that should be created by the caller workflow
      - name: Setup to npm
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
      - name: Enable corepack
        run: corepack enable
      - name: Build
        run: |
          yarn install --immutable
      - name: Publish to npm
        env:
          NPM_CONFIG_PROVENANCE: true
        run: |
          LATEST=$(npm show unleash-server version)
          TAG=$(node scripts/npm-tag.js $LATEST)
          npm publish --tag ${TAG:-latest}
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Publish static assets to S3
        run: |
          aws s3 cp frontend/build s3://getunleash-static/unleash/v${{ inputs.version }} --recursive
